.nav {
    background: #ffff
}

.about{
    background: #ffff;
    height: 30rem;
    margin-top: 2rem;
}

.title {
    padding-top: 8rem;
}

.img {
    max-width: 4.5rem;
    max-height: 4.5rem;
}

.footer {
    background: #ffff !important;
}